<section class="about">
  <div class="container container-sm">
    <div class="headline">
      <h2 class="headline-title">
        About <span class="headline-title-highlighted">Us</span>
      </h2>
      <p class="headline-text">
        We are dedicated to providing engaging and effective English language
        courses in a supportive and stimulating learning environment
      </p>
    </div>
    <div class="about-holder">
      <ol class="about-list">
        <li class="about-item">Expert, innovative teaching staff</li>
        <li class="about-item">Wide range of course levels and options</li>
        <li class="about-item">Multicultural learning environment</li>
        <li class="about-item">Comprehensive language support services</li>
      </ol>
      <figure class="about-img">
        <img
          srcset="./img/memoji/memoji.png 1x, ./img/memoji/memoji@2x.png 2x"
          src="./img/memoji/memoji.png"
          width="255"
          alt="Memoji"
        />
      </figure>
    </div>
  </div>
</section>
