<!-- Start about us section -->
<section id="about" class="section about-section">
  <div class="container">
    <h2 class="section-title">About <span>Us</span></h2>
    <p class="section-subtitle">
      We are dedicated to providing engaging and effective English language
      courses in a supportive and stimulating learning environment
    </p>
    <div class="about-holder">
      <ol class="about-list">
        <li class="about-item">Expert, innovative teaching staff</li>
        <li class="about-item">Wide range of course levels and options</li>
        <li class="about-item">Multicultural learning environment</li>
        <li class="about-item">Comprehensive language support services</li>
      </ol>
      <figure class="about-img">
        <img
          srcset="./img/memoji/memoji.png 1x, ./img/memoji/memoji@2x.png 2x"
          src="./img/memoji/memoji.png"
          width="255"
          alt="Memoji"
          loading="lazy"
        />
      </figure>
    </div>
  </div>
</section>
<!-- End about us section -->
