<!-- Start footer -->
<footer class="footer">
  <div class="container footer-container" id="footer">
    <div class="footer-blocks">
      <div class="footer-logo-adr-bl">
        <div class="footer-logo">
          <a class="footer-logo-link" href="index.html">
            english<span class="footer-logo-part">excellence</span>.
          </a>
        </div>
        <div class="footer-adr" id="contact-us">
          <address class="footer-adress">
            <ul class="footer-adr-list">
              <li class="footer-adr-li">
                <p class="footer-adr-paragraphs">Phone number:</p>
                <a class="footer-adr" href="tel:+380(68)4439426"
                  >+380 (68) 443-94-26</a
                >
              </li>
              <li class="footer-adr-li">
                <p class="footer-adr-paragraphs">Address:</p>
                <a
                  class="footer-adr"
                  href="https://maps.app.goo.gl/27njs34FjTBPNrCe6"
                  >32a M. Bazhana ave</a
                >
              </li>
            </ul>
          </address>
        </div>
      </div>
      <div class="footer-navigation">
        <nav class="footer-links">
          <ul class="footer-nav">
            <li class="footer-nav-li">
              <a class="footer-nav-link link-underlined" href="#about"
                >About us</a
              >
            </li>
            <li class="footer-nav-li">
              <a class="footer-nav-link link-underlined" href="#lessons"
                >Our lessons</a
              >
            </li>
            <li class="footer-nav-li">
              <a class="footer-nav-link link-underlined" href="#teachers"
                >Teachers</a
              >
            </li>
            <li class="footer-nav-li">
              <a class="footer-nav-link link-underlined" href="#reviews"
                >Reviews</a
              >
            </li>
            <li class="footer-nav-li">
              <a
                class="footer-nav-link link-underlined"
                href="#application-form"
                >Contact us</a
              >
            </li>
          </ul>
        </nav>
      </div>
      <div class="footer-social">
        <ul class="footer-social-list">
          <li class="footer-social-li">
            <a
              class="social-list-link"
              href="https://www.facebook.com/goITclub/ "
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Link to facebook.com"
            >
              <svg class="footer-icons" width="28" height="28">
                <use href="./img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-li">
            <a
              class="social-list-link"
              href="https://www.instagram.com/goitclub/ "
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Link to instagram.com"
            >
              <svg class="footer-icons" width="28" height="28">
                <use href="./img/icons.svg#icon-insta"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-li">
            <a
              class="social-list-link"
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Link to youtube.com"
            >
              <svg class="footer-icons" width="28" height="28">
                <use href="./img/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-svg-line">
      <svg class="footer-line" width="1024" height="0">
        <use href="./img/icons.svg#icon-line"></use>
      </svg>
    </div>
    <div class="footer-agreements">
      <p class="footer-copy-paragraphs">
        ©2023 English Excellence. All rights reserved.
      </p>
      <ul class="footer-agreements-list">
        <li class="foter-policy">
          <a class="footer-policy-link" href="#">Privacy Policy</a>
        </li>
        <li class="footer-policy">
          <a class="footer-policy-link" href="#">Terms of Service</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
<!-- End footer -->
