<header class="header-section">
  <div class="container header-container">
    <nav class="page-navigation">
      <a
        href="./index.html"
        class="logo-link"
        aria-label="englishexcellence logo"
        >english<span class="logo-link-color">excellence</span>.</a
      >
      <ul class="page-nav-list list">
        <li class="page-nav-list-item">
          <a
            href="#about"
            class="page-nav-list-link link"
            aria-label="link to section about us"
            >About us</a
          >
        </li>
        <li class="page-nav-list-item">
          <a
            href="#lessons"
            class="page-nav-list-link link"
            aria-label="link to section lessons"
            >Our lessons</a
          >
        </li>
        <li class="page-nav-list-item">
          <a
            href="#teachers"
            class="page-nav-list-link link"
            aria-label="link to section teachers"
            >Teachers</a
          >
        </li>
        <li class="page-nav-list-item">
          <a
            href="#feedback"
            class="page-nav-list-link link"
            aria-label="link to section feedback"
            >Reviews</a
          >
        </li>
        <li class="page-nav-list-item">
          <a
            href="#application-form"
            class="page-nav-list-link link"
            aria-label="link to section contact us"
            >Contact us</a
          >
        </li>
      </ul>
    </nav>
    <button
      class="burger-btn js-open-menu"
      type="button"
      aria-expanded="false"
      aria-controls="mobile-menu"
      aria-label="open menu"
    >
      <svg class="mobile-menu-btn-icon mobile" width="32" height="23">
        <use href="./img/icons.svg#icon-nav"></use>
      </svg>
      <svg class="mobile-menu-btn-icon tablet" width="40" height="28">
        <use href="./img/icons.svg#icon-nav_bold"></use>
      </svg>
    </button>
    <div class="page-header-socials">
      <ul class="page-header-socials-list list">
        <li class="page-header-socials-list-items">
          <a
            href="https://www.facebook.com/goITclub/"
            class="page-header-socials-link link"
            target="_blank"
            aria-label="link to facebook page"
          >
            <svg class="page-header-social-link-icon" width="28" height="28">
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="page-header-socials-list-items">
          <a
            href="https://www.instagram.com/goitclub/"
            class="page-header-socials-link link"
            target="_blank"
            aria-label="link to instagram page"
          >
            <svg class="page-header-social-link-icon" width="28" height="28">
              <use href="./img/icons.svg#icon-insta"></use>
            </svg>
          </a>
        </li>
        <li class="page-header-socials-list-items">
          <a
            href="https://www.youtube.com/c/GoIT"
            class="page-header-socials-link link"
            target="_blank"
            aria-label="link to youtube channel"
          >
            <svg class="page-header-social-link-icon" width="28" height="28">
              <use href="./img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
