<!-- Start hero section -->
<section id="hero" class="hero-section">
  <div class="container hero-content">
    <h1 class="hero-text animated">
      Discover the joy of learning
      <span class="hero-english">English</span> with us!
    </h1>
    <a href="#application-form" class="button hero-button animated"
      >Leave an application</a
    >
    <div class="hero-checkmark">
      <a href="#application-form" class="hero-checkmark-container animated">
        <svg class="hero-svg">
          <use
            class="hero-use"
            xlink:href="./img/icons.svg#icon-checkmark"
          ></use>
        </svg>
      </a>
    </div>
  </div>
</section>
<!-- End hero section -->
