<section class="section leave-form">
  <div class="container">
    <h2 class="section-title section-app-title">
      Leave an <span>application</span>
    </h2>
    <p class="section-subtitle subtitle-application-form">
      Please use the form below to contact us. Enter your name, email, and
      message and we'll get back to you shortly.
    </p>
    <div class="app-form-container">
      <div class="app-thumb">
        <div class="app-textbox">
          <h3 class="app-name">1000</h3>
          <p class="app-desc">
            of our online English language lessons! This journey has been full
            of discovery, growth and unforgettable moments, and we are happy to
            share this joyful event with you.
          </p>
        </div>
      </div>
      <form class="application-form" name="reviews" autocomplete="on">
        <div class="form-wrapper">
          <label class="form-label" for="user-name"></label>
          <input
            class="form-input"
            type="text"
            name="user-name"
            id="user-name"
            placeholder="Name"
            required
          />
        </div>
        <div class="form-wrapper">
          <label class="form-label" for="user-email"></label>
          <input
            class="form-input"
            type="email"
            name="user-email"
            id="user-email"
            placeholder="Email"
            pattern="^[\w\.-]+@[\w\.-]+\.\w+$"
            required
          />
        </div>
        <div class="form-wrapper">
          <label class="form-label" for="user-phone"></label>
          <input
            class="form-input"
            type="tel"
            name="user-phone"
            id="user-phone"
            placeholder="Phone"
            pattern="^0\d{9}$"
            required
          />
        </div>
        <div class="form-comment-wrapper">
          <label class="form-label" for="user-comment"></label>
          <textarea
            class="form-textarea"
            name="user-comment"
            rows="5"
            placeholder="Comment"
            id="user-comment"
          ></textarea>
        </div>
        <fieldset class="form-radio-group">
          <legend class="form-radio-group-title">Choose a teacher</legend>
          <div class="form-radio">
            <input
              class="form-radio-input"
              type="radio"
              name="teacher"
              value="maria"
              id="radio-Maria"
              checked
            />
            <label class="form-radio-label" for="radio-Maria">Maria</label>
          </div>
          <div class="form-radio">
            <input
              class="form-radio-input"
              type="radio"
              name="teacher"
              value="artem"
              id="radio-Artem"
            />
            <label class="form-radio-label" for="radio-Artem">Artem</label>
          </div>
          <div class="form-radio">
            <input
              class="form-radio-input"
              type="radio"
              name="teacher"
              value="ilona"
              id="radio-Ilona"
            />
            <label class="form-radio-label" for="radio-Ilona">Ilona</label>
          </div>
          <div class="form-radio">
            <input
              class="form-radio-input"
              type="radio"
              name="teacher"
              value="volodymyr"
              id="radio-input"
            />
            <label class="form-radio-label" for="radio-input">Volodymyr</label>
          </div>
        </fieldset>
        <button class="form-button btn" type="submit">Send</button>
        <p class="agreement-text">
          By clicking on “Send” button, you agree to our
          <a
            class="form-agreement-link"
            href="#"
            target="_blank"
            rel="no-opener no-referrer"
            >Privacy Policy</a
          >, and&nbsp;allow&nbsp;Promodo to use this information for marketing
          purposes.
        </p>
      </form>
    </div>
  </div>
</section>
