<!-- MOBILE MENU START -->
<div class="mobile-menu-overlay js-menu-overlay"></div>
<div class="mobile-menu js-menu-container">
  <div class="mobile-menu-close">
    <button class="js-close-menu" type="button">
      <svg class="icon icon-close_bold">
        <use xlink:href="./img/icons.svg#icon-close_bold"></use>
      </svg>
    </button>
  </div>

  <ul class="mobile-menu-list">
    <li>
      <a href="#about-us">About us</a>
    </li>
    <li>
      <a href="#lessons">Our lessons</a>
    </li>
    <li>
      <a href="#teachers">Teachers</a>
    </li>
    <li>
      <a href="#reviews">Reviews</a>
    </li>
    <li>
      <a href="#contact-us">Contact us</a>
    </li>
  </ul>

  <ul class="mobile-menu-socials">
    <li>
      <a
        href="https://www.facebook.com/goITclub/"
        target="_blank"
        rel="noopener"
      >
        <svg class="icon icon-facebook" width="26" height="26">
          <use xlink:href="./img/icons.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
    <li>
      <a
        href="https://www.instagram.com/goitclub/"
        target="_blank"
        rel="noopener"
      >
        <svg class="icon icon-insta" width="26" height="26">
          <use xlink:href="./img/icons.svg#icon-insta"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="https://www.youtube.com/c/GoIT" target="_blank" rel="noopener">
        <svg class="icon icon-youtube" width="26" height="26">
          <use xlink:href="./img/icons.svg#icon-youtube"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
<!-- MOBILE MENU END -->
