<section id="teachers" class="section teachers-section">
    <div class="container">
        <h2 class="section-title">Meet our <span>teachers</span></h2>
    <p class="section-subtitle">Discover our team of dedicated educators, committed to guiding you on your journey to English
        proficiency with
        personalized and engaging instruction</p>
    <ul class="teachers-list">
        <li class="teachers-item">
        <div class="teachers-item-img">
            <img 
            srcset="
              ../img/teachers/img-1@1x.jpg 1x,
              ../img/teachers/img-1@2x.jpg 2x
            "
            src="./img/teachers/img-1@2x.jpg" 
            alt="Maria"
            class="avatar"
            width="150px"
            height="150px"/>
            <h3 class="teachers-item-title">Maria</h3>
            <p class="teachers-item-text">A seasoned linguist and our primary specialist in beginner-level instruction, Maria
                brings warmth and patience to every class</p>
        </div>
        </li>
        <li class="teachers-item">
        <div class="teachers-item-img">
            <img 
            srcset="
              ../img/teachers/img-2@1x.jpg 1x,
              ../img/teachers/img-2@2x.jpg 2x
            "
            src="./img/teachers/img-2@2x.jpg" 
            alt="Artem"
            class="avatar"
            width="150px"
            height="150px"/>
                <h3 class="teachers-item-title">Artem</h3>
                <p class="teachers-item-text">With his innovative teaching techniques and a focus on interactive learning, Artem
                    excels in keeping students engaged and motivated</p>
        </div>
        </li>
        <li class="teachers-item">
        <div class="teachers-item-img">
            <img srcset="
                ../img/teachers/img-3@1x.jpg 1x,
                ../img/teachers/img-3@2x.jpg 2x
                " 
                src="./img/teachers/img-3@2x.jpg" 
                alt="Ilona" 
                class="avatar"
                width="150px" 
                height="150px"/>
                <h3 class="teachers-item-title">Ilona</h3>
                <p class="teachers-item-text">A specialist in advanced English, Ilona provides intensive instruction, ensuring
                    students gain confidence in complex language tasks</p>
        </div>
        </li>
        <li class="teachers-item">
        <div class="teachers-item-img">
            <img srcset="
                ../img/teachers/img-4@1x.jpg 1x,
                ../img/teachers/img-4@2x.jpg 2x
                " 
                src="./img/teachers/img-4@2x.jpg" 
                alt="Volodymyr"
                class="avatar" 
                width="150px" 
                height="150px"/>
                <h3 class="teachers-item-title">Volodymyr</h3>
                <p class="teachers-item-text">Our expert in English for specific purposes, Volodymyr tailors his approach to meet
                    individual career and industry-specific language needs</p>
        </div>
        </li>
    </ul>
    </div>
</section>
