<!-- Start our lessons section -->
<section id="lessons" class="section lesson-section ">
  <div class="container">
    <h2 class="section-title">Our <span>lessons</span></h2>
    <p class="section-subtitle">
      Our lessons are carefully structured and interactive, designed to promote
      rapid language acquisition through practical tasks and real-world
      scenarios
    </p>
    <ul class="lessons-list">
      <li class="lesson-item">
        <h3 class="lesson-item-title">Practice</h3>
        <h4 class="lesson-item-price">40$ / month</h4>
        <p class="lesson-item-text">
          This plan offers an opportunity for learners to engage in
          collaborative language exercises and group activities, boosting their
          conversational skills and confidence in using English.
        </p>
        <a href="#application-form" class="button lesson-button"
          >Leave an application</a
        >
      </li>
      <li class="lesson-item active-item">
        <h3 class="lesson-item-title">Standard</h3>
        <h4 class="lesson-item-price">70$ / month</h4>
        <p class="lesson-item-text">
          Our standard package provides a balanced learning approach that covers
          all key areas of English language - reading, writing, listening, and
          speaking. It is a set of basic knowledge and skills.
        </p>
        <a href="#application-form" class="button lesson-button active"
          >Leave an application</a
        >
      </li>
      <li class="lesson-item">
        <h3 class="lesson-item-title">Individual</h3>
        <h4 class="lesson-item-price">99$ / month</h4>
        <p class="lesson-item-text">
          We offer a tailored learning experience with individualized
          instruction that focuses on a learner's specific language goals and
          challenges, offering personal feedback.
        </p>
        <a href="#application-form" class="button lesson-button"
          >Leave an application</a
        >
      </li>
    </ul>
  </div>
</section>
<!-- End our lessons section -->
