<!-- Start proposal section -->
<section id="proposal" class="section proposal-container ">
  <div class="container proposal">
    <h2 class="visually-hidden">Proposal to leave an application</h2>
    <p class="title-primary">
      Master the <span>Language</span> with Our English Package!
    </p>
    <div class="proposal-card">
      <h3 class="proposal-card-title">Power of English</h3>
      <ul class="proposal-card-list">
        <li class="card-list-item">
          <div class="icon-done">
            <svg>
              <use xlink:href="./img/icons.svg#icon-check" />
            </svg>
          </div>

          <p>
            Dive into captivating lessons designed to stimulate your curiosity.
          </p>
        </li>
        <li class="card-list-item">
          <div class="icon-done">
            <svg>
              <use xlink:href="./img/icons.svg#icon-check" />
            </svg>
          </div>

          <p>
            Learn in a nurturing setting where every student's progress matters.
          </p>
        </li>
        <li class="card-list-item">
          <div class="icon-done">
            <svg>
              <use xlink:href="./img/icons.svg#icon-check" />
            </svg>
          </div>

          <p>
            Experience the satisfaction of real progress as your language skills
            and confidence grow with every session.
          </p>
        </li>
      </ul>
      <a href="#application-form" class="button">Leave an application</a>
    </div>
  </div>
</section>
<!-- End proposal section -->
