<section class="section section-reviews" id="reviews">
  <div class="container">
    <h2 class="section-title">
      What our <span class="accent">students</span> say
    </h2>
    <p class="section-subtitle">
      Hear from our students about their learning journey with us, as they share
      their experiences, progress, and the transformative impact
    </p>
    <ul class="review-card-list">
      <li class="review-card-item">
        <div class="card-person">
          <img
            srcset="
              ../img/students/img-5@1x.jpg 1x,
              ../img/students/img-5@2x.jpg 2x
            "
            src="../img/students/img-5@2x.jpg"
            alt="student avatar"
            class="avatar"
            width="50px"
            height="50px"
          />
          <div class="person-name">
            <p class="name">Anna</p>
            <p class="status">Student</p>
          </div>
        </div>
        <p class="review-text">
          My experience at the language school has been nothing short of
          amazing. The teachers are dedicated and the learning environment is
          stimulating. I feel more confident in my English skills.
        </p>
      </li>
      <li class="review-card-item hide card2">
        <div class="card-person">
          <img
            srcset="
              ../img/students/img-6@1x.jpg 1x,
              ../img/students/img-6@2x.jpg 2x
            "
            src="../img/students/img-6@2x.jpg"
            alt="student avatar"
            class="avatar"
            width="50px"
            height="50px"
          />
          <div class="person-name">
            <p class="name">Mykchailo</p>
            <p class="status">Student</p>
          </div>
        </div>
        <p class="review-text">
          The school offers a great balance of language theory and practical
          exercises. The personalized feedback from the teachers has helped me
          improve my weak areas.
        </p>
      </li>
      <li class="review-card-item hide card3">
        <div class="card-person">
          <img
            srcset="
              ../img/students/img-7@1x.jpg 1x,
              ../img/students/img-7@2x.jpg 2x
            "
            src="../img/students/img-7@2x.jpg"
            alt="student avatar"
            class="avatar"
            width="50px"
            height="50px"
          />
          <div class="person-name">
            <p class="name">Viktoria</p>
            <p class="status">Student</p>
          </div>
        </div>
        <p class="review-text">
          I love the dynamic and interactive teaching methods used here. It's a
          great place to learn English in a fun and effective way. I have
          definitely seen a big improvement in my language skills.
        </p>
      </li>
    </ul>
  </div>
</section>
