.header-section {
  margin-bottom: 8px;
}

.header-container {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  background-color: var(--white);
}

.logo-link {
  color: var(--black);
  font-size: 20px;
  line-height: normal;
  font-weight: 700;
}

.logo-link-color {
  color: var(--green);
}

.mobile-menu-btn-icon {
  stroke: var(--black);
}

.burger-btn {
  padding: 0;
  background-color: transparent;
  margin-left: auto;
  line-height: 0;
  border: none;
  color: currentColor;
}

.tablet,
.mobile {
  display: none;
}

@media screen and (max-width: 767px) {
  .mobile {
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .tablet {
    display: block;
  }

  .header-section {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
  .page-nav-list {
    display: none;
  }

  .page-header-socials {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .header-container {
    width: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .header-container {
    max-width: 1024px;
    padding-left: 0;
    padding-right: 0;
  }

  .header-section {
    margin-bottom: 16px;
  }

  .burger-btn {
    display: none;
  }

  .page-navigation {
    display: flex;
    align-items: center;
    gap: 137px;
  }

  .page-nav-list {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .page-header-socials {
    margin-left: auto;
  }

  .page-header-socials-list {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .page-nav-list-link {
    color: var(--black);
    font-weight: 600;
    line-height: 1.29;
    position: relative;
    font-size: 14px;
  }

  .page-nav-list-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 37px;
    height: 2px;
    background-color: var(--green);
    opacity: 0;
    transition: opacity var(--common-transition);
  }

  .page-nav-list-link:hover.page-nav-list-link::after,
  .page-nav-list-link:focus.page-nav-list-link::after {
    opacity: 1;
  }

  .page-header-socials-list-items {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .page-header-socials-link {
    padding: 7px;
    fill: var(--black);
    line-height: 0;
    border: 1px solid rgba(18, 20, 23, 0.1);
    border-radius: 10px;
    transition: fill var(--common-transition),
      border-color var(--common-transition);
  }

  .page-header-socials-link:hover,
  .page-header-socials-link:focus {
    fill: var(--green);
  }


  .page-header-socials-link:hover,
  .page-header-socials-link:focus {
    border-color: rgba(77, 194, 116, 0.1);
  }
}