/* For mobile devices */
.hero-content {
  padding: 425px 14px 14px 20px;
  align-items: start;
}

.hero-section {
  background-image: url(../img/hero/block_mob@1x.jpg),
    linear-gradient(
      95.97deg,
      rgba(0, 0, 0, 0.4) 36.36%,
      rgba(0, 0, 0, 0) 51.43%
    );
  background-size: cover;
  border-radius: 16px;
  margin: 8px auto 80px;
  max-width: 335px;
}

@media (min-resolution: 192dpi) {
  .hero-section {
    background-image: url(../img/hero/block_mob@2x.jpg),
      linear-gradient(
        95.97deg,
        rgba(0, 0, 0, 0.4) 36.36%,
        rgba(0, 0, 0, 0) 51.43%
      );
  }
}

.hero-text {
  font-family: inherit;
  font-size: 38px;
  line-height: 1.05;
  color: var(--white);
  max-width: 295px;
}

.hero-english {
  color: var(--lighter-green);
}

.hero-button {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  max-width: 295px;
  width: 100%;
}

.hero-svg {
  width: 20px;
  height: 20px;
}

.hero-use {
  fill: var(--green);
}

.hero-checkmark {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: end;
}

.hero-checkmark-container {
  background-color: white;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  transition: 250ms var(--common-transition);
  transition-property: background-color, fill;
}

.hero-checkmark-container:hover,
.hero-checkmark-container:focus {
  background-color: var(--green);
}

.hero-checkmark-container:hover .hero-use,
.hero-checkmark-container:focus .hero-use {
  fill: var(--white);
}

/* For tablets */
@media (min-width: 768px) and (max-width: 1280px) {
  .hero-section {
    background-image: url(../img/hero/block_tab@1x.jpg),
      linear-gradient(
        95.97deg,
        rgba(0, 0, 0, 0.4) 36.36%,
        rgba(0, 0, 0, 0) 51.43%
      );
    border-radius: 30px;
    margin: 32px auto 100px;
    max-width: 704px;
  }

  .hero-content {
    padding: 260px 32px 32px 32px;
  }

  .hero-button {
    margin-top: 32px;
    max-width: 306px;
  }

  .hero-text {
    font-size: 60px;
    line-height: 1.16;
    max-width: 488px;
  }

  .hero-checkmark {
    margin-top: 215px;
  }

  .hero-checkmark-container {
    width: 48px;
    height: 48px;
  }
}

@media (min-width: 768px) and (min-resolution: 192dpi) {
  .hero-section {
    background-image: url(../img/hero/block_tab@2x.jpg),
      linear-gradient(
        95.97deg,
        rgba(0, 0, 0, 0.4) 36.36%,
        rgba(0, 0, 0, 0) 51.43%
      );
  }
}

/* For desktop */
@media (min-width: 1280px) {
  .hero-section {
    background-image: url(../img/hero/block_desk@1x.jpg),
      linear-gradient(
        95.97deg,
        rgba(0, 0, 0, 0.4) 36.36%,
        rgba(0, 0, 0, 0) 51.43%
      );
    border-radius: 30px;
    margin: 16px auto 96px;
    max-width: 1152px;
  }

  .hero-content {
    padding: 164px 32px 32px 64px;
  }

  .hero-button {
    margin-top: 32px;
    max-width: 306px;
  }

  .hero-text {
    font-size: 60px;
    line-height: 1.16;
    max-width: 564px;
  }

  .hero-checkmark {
    margin-top: 83px;
  }

  .hero-checkmark-container {
    width: 48px;
    height: 48px;
  }
}

@media (min-width: 1280px) and (min-resolution: 192dpi) {
  .hero-section {
    background-image: url(../img/hero/block_desk@2x.jpg),
      linear-gradient(
        95.97deg,
        rgba(0, 0, 0, 0.4) 36.36%,
        rgba(0, 0, 0, 0) 51.43%
      );
  }
}
