.teachers-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.teachers-item-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

.teachers-item-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--form-agreement-text);
  text-align: center;
}

.teachers-text-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  width: 335px;
}

@media only screen and (max-width: 374px) {
  .teachers-text-box {
    width: 100%;
  }
}

.teachers-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .subtitle-teachers {
    max-width: 709px;
  }

  .teachers-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 32px;
    justify-content: center;
  }

  .teachers-item {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }

  .teachers-text-box {
    width: 232px;
  }

  .teachers-item-text {
    font-size: 16px;
    line-height: 1.5;
  }
}

@media only screen and (min-width: 1280px) {
  .teachers-list {
    flex-wrap: nowrap;
    gap: 32px;
    justify-content: normal;
  }
}

.teachers-img {
  border-radius: 50%;
}
/* .teachers-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
} */
