/* Styles for Reviews*/
:root {
    --amount-of-cards: 3;
    --col-gap: 32px;
}

.review-card-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--col-gap);
}

.review-card-item {
    padding: 20px;
    width: 100%;
    min-height: 278px;
    background-color: var(--gray);
    border-radius: 16px;
}

.hide {
    display: none;
}

@media screen and (max-width: 374px) {
    .review-card-item {
        max-width: 335px;
    }
}

@media screen and (min-width: 768px) {
    .review-card-item {
        --amount-of-cards: 2;
        width: calc((100% - var(--col-gap) * (var(--amount-of-cards) - 1)) / var(--amount-of-cards));
        min-height: 326px;
        padding: 32px 16px;
        border-radius: 30px;
    }
    
    .card2 {
        display: block;
    }
}

@media screen and (min-width: 1280px) {
    .review-card-item {
        --amount-of-cards: 3
    }

    .card3 {
        display: block;
    }
}

.card-person {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 14px;
    margin-bottom: 20px;
    background-color: var(--green);
    border-radius: 8px;
}

@media screen and (min-width: 768px) {
    .card-person {
        padding: 14px 16px;
        margin-bottom: 32px;
        border-radius: 15px;
    }
}

.avatar {
    border-radius: 50%;
}

.name {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: var(--white);
    margin-bottom: 2px;
}

.status {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33333;
    color: rgba(255, 255, 255, 0.5);
}

.review-text {
    font-size: 14px;
    line-height: 1.71429;
    padding: 0 14px;
    opacity: 0.5;
}

@media screen and (min-width: 768px) {
    .review-text {
        font-size: 16px;
        line-height: 1.5;
        padding: 0 16px;
    }
}
